# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
env/
venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore output directories for processed images
output/
